@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Laila');

body {
  background: image_url('dynamic-style.png');
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.navbar {
    background: image_url('prism.png');
    box-shadow: 0px 0px 15px #000;
    margin-bottom: 0;
}

.navbar-inverse .navbar-brand {
  color: #f9cccc;
  font-family: 'Laila', serif;
  font-weight: 900;
  letter-spacing: 5px;
}

.nomster-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}

.navigation_container {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0;
}

.invalid-feedback {
    color: #ff3333;
    background-color: #FFEEEE;
    border-radius: 3px;
    padding: 2px 8px;
}

nav button.navbar-toggler {
    color: #f9cccc;
}
div.navbar-collapse ul {
    list-style-type: none;
}
a, a:hover {
    color: #333;
    text-decoration: none;
}

a.nav-link,
a.nav-link:hover {
    color: #f9cccc;
    font-family: 'Laila', serif;
}

#map {
    height: 500px;
}

.clear {
    clear: both;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 1.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

img.thumbnail {
    max-width: 50%;
    max-height: 250px;
}

.centered {
    text-align: center;
}

.place_photo_holder {
    box-shadow: rgba(0,0,0,0.25) 0px 0px 5px;
    padding: 15px;
}

.carousel-inner > .carousel-item img {
  max-height: 550px;
}


.carousel-item {
    text-align: center;
}

.carousel-item.active, 
.carousel-item-next, 
.carousel-item-prev {
  display: block;
}

.carousel-caption {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 60px;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 2px 2px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  position: relative;
  left: 0;
  bottom: 75px;
}

.carousel {
  box-shadow: 0px 3px 8px #2a2a2a;
}

.image-container {
    display: inline-block;
}

@media only screen and (min-width: 768px) {
    .carousel-inner > .carousel-item{
        margin-bottom: -60px;
    }
}