@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Srisakdi');

body {
  background: image_url('dynamic-style.png');
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.navbar {
    background: image_url('prism.png');
    box-shadow: 0px 0px 15px #000;
}

.navbar-inverse .navbar-brand {
  color: #f9cccc;
  font-family: 'Srisakdi', cursive;
  font-weight: 900;
  letter-spacing: 5px;
}

.nomster-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}

.navigation_container {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0;
}