<% @places.each do |place|  %>
  <div class="nomster-box col-10 offset-1">
      <h1><%= place.name %></h1>
      <i><%= place.address %></i><br /><br />
      <p><%= place.description  %></p><br />
  </div>

<% end %>